/*
TABLE OF CONTENTS

1. General
2. Navigation
3.
*/


/*
1. General 
================================= */

body {
  padding-top: 150px;
}



html, body {
  margin:0;
  height: 100%;
  background-color: #F5F5F5;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	position: relative;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

.right {
	float: right;
}

.inline {
	display: inline-block;
        margin-left: 10px;
        margin-right: 20px;
}

.relative {
	position: relative;
}

/* 
2. Navigation 
================================= */
.navbar{
    background: #0027Af;
    padding: 10px;
    height: 130px;
    border: none;
    box-shadow: 6px 0 20px -4px #222 , -6px 0 20px -4px #222;
	-webkit-box-shadow: 6px 0 20px -4px #222 , -6px 0 20px -4px #222;
	-moz-box-shadow: 6px 0 20px -4px #222 , -6px 0 20px -4px #222;
	-o-box-shadow: 6px 0 20px -4px #222 , -6px 0 20px -4px #222;
}

.navbar img{

    height: 100px;
    margin: 10px;

}
/*Drop down menu for navigation bar*/
#dropDownMenu {
	margin: 0;
	padding: 0;
	height: 1em;
        }
#dropDownMenu li {
	list-style: none;
	float: left;
        }
#dropDownMenu li a:hover{
    background-color: #0027Af;
}
#dropDownMenu li ul li{
    padding: 10px;
    margin: 0px;
    display: block;
    border-bottom:  1px solid black;
    
    
}
#dropDownMenu li ul li:hover{
    background:#B00000;
}

#dropDownMenu li a {
	display: block;
	padding: 3px 8px;
	background-color: #0027Af;
	color: #fff;
	text-decoration: none;
        }
#dropDownMenu li ul {
	display: none; 
	width: 10em; /* Width to help Opera out */
	background-color: #0027Af;
        }
#dropDownMenu li:hover ul {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
        }
#dropDownMenu li:hover li {
	float: none;
        }
#dropDownMenu li:hover li a {
	background-color: #0027Af;
	border-bottom: 1px solid #fff;
	color: #000;
        }
#dropDownMenu li li a:hover {
	background-color: #0027Af;
        }

.top-nav {
	text-transform: uppercase;
	font-size: 11px;
}


/************************************/
#userPathWay{
    font-size: 20px;
    color:white;/*#d1be94;*/
    display: inline-block;
    background: #0027Af;
    width: 250px;
    padding: 0px;
    margin: 0px;
    list-style:none;
    font-weight:bold;
    background-color: #337AF5;
}
#userPathWay ul{
    padding: 0px;
    margin: 0px;
    
}
#userPathWay ul li
{
    text-align: left;
    border-bottom:1px solid black; 
    border-top: 1px solid black;  
    list-style-type: none;
    padding: 20px;
    
}
#userPathWay ul li:hover{
    background:#B00000; 
}


#userPathWay a{
    display:block;
    text-decoration:none;
}

    
.item active{
    width: 100px;
    border: 10px dashed yellow;

}

#main-nav ul {
	list-style-type: none;
	margin-top: -35px;
	margin-left: 20px;
	margin-right: 20px;
	padding:0;
	float: right;
	color: #fff;
}

#main-nav ul li {
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

.form-group, .form-control {
	border-radius: 0;
	height: 30px;
        display:inline-block;
}

.navbar-form button {
	height: 30px;
	width: 30px;
}


#ThreeSlopes {
    overflow: auto;
    padding: 10px;

}
#ThreeSlopes h4{
    color: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}
#ThreeSlopes p{
    color: black;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 0px;
}
#ThreeSlopes a{
    color: black;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#ThreeSlopes a:hover{
    color: #FFB124;
    text-decoration: none;
}
#SlopeOne {

    margin-left: 5px;
    float: left;
    background-repeat: no-repeat;
    width: 32.5%;
    
}
#SlopeTwo {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    background-repeat: no-repeat;
    width: 32.5%;
}
#SlopeThree {
    float: left;
    margin-top: 20px;
    background-repeat: no-repeat;
    width: 32%;
}



/*
Footer
================================= */


#wrap {
	min-height: 100%;
	margin-bottom: 50px;
}

#main {
  overflow:auto;
  padding-bottom: 180px; /* must be same height as the footer */
}

#footer {
  position: relative;
  margin-top: -180px; /* negative value of footer height */
  height: 180px;
  clear:both;
  left:0px;
  bottom: 0px;
  background: #000;
} 

/*Opera Fix thanks to Maleika (Kohoutec)*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}

.footer-img {
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

.footer-img:hover {
	opacity: 0.8;
}

.fb {
	height: 38px;
	width: 38px;
}



