/*
TABLE OF CONTENTS

1. General
2. Navigation
3.
*/


/*
1. General 
================================= */

body {
    padding-top: 130px;
}

.container {
	display:block;
	margin: 0 auto;
}

/* 
2. Navigation 
================================= */
.navbar{
    background: #0027Af;
    padding: 10px;
    height: 100px;
    width: 940px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar img{
    height: 100px;
    
}

#navigation{
    color:yellow;
    display: inline-block;
}
.item active{
    width: 100px;
    border: 10px dashed yellow;
}
